<h1>Create a new event</h1>

<%= form_for @event do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.label :location %>
		<%= f.text_field :location %>
	</p>
	<p>
		<%= f.label :date %>
		<%= f.date_field :date %>
	</p>

	<%= f.submit "Create event" %>
	

<% end %>